<!-- Post Content -->
<article>
    <div class="container">
        <div  class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <span class="meta"><em><%= date(page.date) %></em></span>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				<%- page.content %>

                <hr>

                <ul class="pager">
                    <% if (page.prev) { %>
                    <li class="previous">
                        <a href="<%= url_for(page.prev.path) %>" data-toggle="tooltip" data-placement="top" title="<%= page.prev.title %>">&larr; Previous Post</a>
                    </li>
                    <% } %>
                    <% if (page.next){ %>
                    <li class="next">
                        <a href="<%= url_for(page.next.path) %>" data-toggle="tooltip" data-placement="top" title="<%= page.next.title %>">Next Post &rarr;</a>
                    </li>
                    <% } %>
                </ul>

            </div>
        </div>
        <% if(is_post() && config.disqus_shortname){ %>
            <div class="row">
                <div  id="disqus_wrapper" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div id="disqus_thread"></div>
                    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        <% } %>
    </div>
</article>

<hr>